
  <div>
    <img id="profilePic" src="pictures/profilePic.jpg" alt="Profile Picture">
  </div>
  <div>
    <p id="description">"I will tell you also what I do not fear. I do not fear to be alone or to be spurned for another or to leave whatever I have to leave. And I am not afraid to make a mistake, even a great mistake, a lifelong mistake and perhaps as long as eternity too." <br><span id="author">-James Joyce, A Portrait of the Artist as a Young Man</span></p>
  </div>  
  
  <div class="aboutBlock">
    <h1 class="headers">About Me</h1>
    <p id="aboutMeDescription">My name is Douglas Smith. I am an rising freshman at Harvard University, planning to concentrate in economics and earn a secondary in computer science.</p>
  </div>

  <img id="socialMediaPic" src="pictures/chicago-skyline.jpg">

  <div class="socialMediaBlock">
    <h1 class="headers">Social Media</h1>
  </div>

  <div class="container">
      <div class="col">
        <p class="text-center"><strong>Facebook</strong></p><br>
        <a href="https://www.facebook.com/doug.smith.1447342">
          <img src="https://www.facebook.com/images/fb_icon_325x325.png" alt="Facebook" class="img-circle">
        </a>
      </div>
      <div class="col">
        <p class="text-center"><strong>Twitter</strong></p><br>
        <a href="https://twitter.com/doug_3197">
          <img src="https://pbs.twimg.com/profile_images/666407537084796928/YBGgi9BO.png" alt="Twitter" class="img-circle">
        </a>
      </div>
      <div class="col">
        <p class="text-center"><strong>GitHub</strong></p><br>
        <a href="https://github.com/dsmith3197">
          <img src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png" alt="GitHub" class="img-circle">
        </a>   
      </div>
    </div>

    <img id="socialMediaPic" src="http://67.media.tumblr.com/2cf7465382bbe0e123ff97879dd0a12b/tumblr_nnmo14vWsH1qznv19o1_1280.png">

  <div class="socialMediaBlock">
    <h1 class="headers">Recent Projects</h1>
  </div>

    <div class="container">
      <div class="col">
        <p class="text-center"><strong>CS50</strong></p><br>
        <a href="https://github.com/dsmith3197/CS50">
          <img src="pictures/CS50.jpg" alt="CS50" class="img-circle">
        </a>
      </div>
      <div class="col">
        <p class="text-center"><strong>CSSI</strong></p><br>
        <a href="https://github.com/dsmith3197/dsmith3197.github.io">
          <img src="pictures/CSSI.jpg" alt="CSSI" class="img-circle">
        </a>
      </div>
      <div class="col">
        <p class="text-center"><strong>Photography</strong></p><br>
        <a>
          <img src="pictures/photography.jpg" alt="photography" class="img-circle">
        </a>   
      </div>
    </div>


  <script src="profile/homepage.js"></script>
</body>
</html>